<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
  <title>Dynamic content and Const links</title>
</head>

<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <%- include('./partials/header'); %>
    </header>

    <main role="main" class="inner cover">
      <p class="lead">
        <h1>Dynamic content and Const links</h1>
        This page shows dynamic content and constant links
      </p>

      <h3>Dynamic content</h3>
      <p>
        <%= text_content %>
      </p>


      <h2>Constant links</h2>
      <p>
        The following links are arbitrary and are used only for content generation needed for the detection algorithms.

        <% links.forEach(link => { %>
        <div> <a href=<%=link.address%>><%=link.text%></a></div>
        <% }); %>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <%- include('./partials/footer'); %>
    </footer>
  </div>

  <%- include('./partials/scripts'); %>
</body>

</html>